.card-text{
font-size: medium;    

}
article {
    color: rgb(34, 78, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    
}
time {
    border: 1px dotted black ;
}
html { background-color: white; } 
body {
    min-height: 100vh;
    max-width: 1200px;
    background-color: white; 
    margin: 0 auto;
}
h1 {
    font-family: Arial;
    font-weight: bold;
}